<!doctype html>
{% load static %}
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Top Dental Academy | Register Now</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Top Dental Academy">

    <!-- Favicon -->
    <link href="http://demo.foxthemes.net/courseplusv3.3/assets/images/favicon.png" rel="icon" type="image/png">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/night-mode.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/framework.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.css' %}">

    <!-- icons
    ================================================== -->

    <link rel="stylesheet" href="{%static 'assets/css/icons.css' %}">

    <!-- preloader
   =================================================== -->
    <link rel="stylesheet" href="{%static 'assets/css/preloader.css' %}">


</head>


<body class="no-scroll-y">

<!-- Preloader -->
<section class="col-12">
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
						<span data-text-preloader="T" class="letters-loading">
							T
						</span>

                    <span data-text-preloader="o" class="letters-loading">
							o
						</span>

                    <span data-text-preloader="p" class="letters-loading">
							p
						</span>
                    <span data-text-preloader="-" class="letters-loading">
							-
						</span>


                    <span data-text-preloader="D" class="letters-loading">
							D
						</span>

                    <span data-text-preloader="e" class="letters-loading">
							e
						</span>

                    <span data-text-preloader="n" class="letters-loading">
							n
						</span>
                    <span data-text-preloader="t" class="letters-loading">
							t
						</span>
                    <span data-text-preloader="a" class="letters-loading">
							a
						</span><span data-text-preloader="l" class="letters-loading">
							l
						</span>
                    <span data-text-preloader="-" class="letters-loading">
							-
						</span>

                    </span><span data-text-preloader="A" class="letters-loading">
							A
						</span></span><span data-text-preloader="c" class="letters-loading">
							c
                        </span></span><span data-text-preloader="a" class="letters-loading">
                            a
						</span></span><span data-text-preloader="d" class="letters-loading">
							d
						</span></span><span data-text-preloader="e" class="letters-loading">
							e
						</span></span><span data-text-preloader="m" class="letters-loading">
							m
						</span></span><span data-text-preloader="y" class="letters-loading">
							y

                </div>
            </div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
    </div>
</section>


<!-- Content
================================================== -->
<div uk-height-viewport class="uk-flex uk-flex-middle">
    <div class="uk-width-2-3@m uk-width-1-2@s m-auto rounded">
        <div class="uk-child-width-1-2@m uk-grid-collapse bg-gradient-grey" uk-grid>

            <!-- column one -->
            <div class="uk-margin-auto-vertical uk-text-center uk-animation-scale-up p-3 uk-light">
                <i class=" uil-graduation-hat icon-large"></i>
                <h3 class="mb-4"> Top Dental Academy</h3>
                <p>The Place You can learn Every Thing. </p>
            </div>

            <!-- column two -->
            <div class="uk-card-default p-5 rounded">
                <div class="mb-4 uk-text-center">
                    <h3 class="mb-0"> Create new Account</h3>
                    <p class="my-2">Sign-up Now.</p>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </div>

                <form action="/Accounts/Run/register" method="POST" class="uk-child-width-1-1 uk-grid-small" uk-grid>
                    {% csrf_token %}

                    <div>
                        <div class="uk-form-group">
                            <label class="uk-form-label"> Name</label>

                            <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-user"></i>
                                    </span>
                                <input name="full_name" class="uk-input" type="text" placeholder="Full name">
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="uk-form-group">
                            <label class="uk-form-label"> Email</label>

                            <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-mail"></i>
                                    </span>
                                <input name="email" class="uk-input" type="email" placeholder="name@example.com">
                            </div>

                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-group">
                            <label class="uk-form-label"> Password</label>

                            <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-lock"></i>
                                    </span>
                                <input name="password" class="uk-input" type="password" placeholder="********">
                            </div>

                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-group">
                            <label class="uk-form-label"> Confirm password</label>

                            <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-lock"></i>
                                    </span>
                                <input name="confirm_password" class="uk-input" type="password" placeholder="********">
                            </div>
                            <input id="key" name="key" value="" hidden>

                        </div>
                    </div>

                    <div>
                        <div class="mt-4 uk-flex-middle uk-grid-small" uk-grid>

                            <div class="uk-width-auto@s">
                                <input type="submit" class="btn btn-default" value="Create New Account"></input>
                            </div>
                             <div class="uk-width-expand@s">
                                <p> Already Have an Account ? <a style="color:  #377dff;" href="/View/login">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </form>
            </div><!--  End column two -->

        </div>
    </div>
</div>

<!-- Content -End
================================================== -->

<style>
        .flex-wrapper {
            display: flex;
            flex-flow: row nowrap;
        }

        .single-chart {
            width: 33%;
            justify-content: space-around;
        }

        .circular-chart {
            display: block;
            margin: 10px auto;
            max-width: 80%;
            max-height: 250px;
        }

        .circle-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 3.8;
        }

        .circle {
            fill: none;
            stroke-width: 2.8;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
        }

        @keyframes progress {
            0% {
                stroke-dasharray: 0 100;
            }
        }

        .circular-chart.orange .circle {
            stroke: #ff9f00;
        }

        .circular-chart.green .circle {
            stroke: #4CC790;
        }

        .circular-chart.blue .circle {
            stroke: #3c9ee5;
        }

        .percentage {
            fill: #666;
            font-family: sans-serif;
            font-size: 0.5em;
            text-anchor: middle;
        }





















</style>
<style>
    .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:25px;
	right:25px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href=" https://wa.me/+201551180618"
   class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>


<!-- For Night mode -->
<script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('night-mode');
                if (document.documentElement.classList.contains('night-mode')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);




</script>


<!-- javaScripts
    ================================================== -->
<script src="{%static 'assets/js/framework.js' %}"></script>
<script src="{%static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{%static 'assets/js/simplebar.js' %}"></script>
<script src="{%static 'assets/js/alpha.js' %}"></script>
<script src="{%static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{%static 'assets/js/preloader.js' %}"></script>


<script>
    window.onload = function(){
        var key = navigator.userAgent;
        var x = document.getElementById("key");
        x.value = key;
    }


</script>

</body>

</html>